<h3>© 2018 - Разработено от Д.Х.</h3>
<div class="footer">
    <a href="https://www.facebook.com/mhaiverov" target="_blank">
        <img src="../../../assets/images/facebook.png" alt="Facebook" title="">
    </a>
    <a href="https://github.com/HaiveroV" target="_blank">
        <img src="../../../assets/images/github.png" alt="GitHub" title="">
    </a>
    <a href="https://www.instagram.com/ichiruki94/">
        <img src="../../../assets/images/instagram.png" alt="Instagram" title="">
    </a>
</div>