#footer-holder{
    font-size: 1.4em;
    margin-left: 100px;   
    padding: 300px;
    font-family: 'Merienda One', sans-serif;
    font-weight: italic;
   
}
#footer-holder h3 {   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.863), 0 6px 20px 0 rgba(0, 0, 0, 0.87);
}

.h3, h3{
    font-size: 12px;
    text-align: center;
}

.footer{
    text-align: center;
}